

        .snackers{

           display: none;
        }



        .drinkers{
            display: none;
        }

        #drink
        {
            background-color: black;
            color: bisque;
        }